::before button{
    border: 1px solid rgba(48, 59, 255, 0.)
    color:cornflowerblue transparent;
}

.btn-outline-secondary {
    border: 1px solid rgba(40, 48, 155, 0.125);
    text-align: left;
    padding: 10px;
  }
  
  #bootstrap-overrides.forecastCard {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    height: 215px;
    word-wrap: break-word;
    background-color: #007bff !important;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  
  .card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 2.2rem;
  }
  